name: Tests Backend Rust

on:
  push:
  pull_request:
    branches: ["main", "master"]
  workflow_dispatch:

permissions:
  checks: write
  contents: read

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Tests & Coverage
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend

    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Installation de Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: llvm-tools-preview

      - name: Installation des outils
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest,cargo-llvm-cov

      - name: Cache Cargo
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            backend/target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('backend/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Exécution des tests avec couverture
        run: |
          cargo llvm-cov --all-features --workspace nextest --all-targets --no-report

      - name: Génération du rapport lcov
        if: always()
        run: |
          cargo llvm-cov report --lcov --output-path lcov.info

      - name: Génération du rapport HTML
        if: always()
        run: |
          cargo llvm-cov report --html