name: Tests Backend Rust

on:
  push:
  pull_request:
    branches: ["main", "master"]
  workflow_dispatch:

permissions:
  checks: write
  contents: read

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Tests & Coverage
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: greenscoreweb_database
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    env:
      DATABASE_URL: mysql://root:root@localhost:3306/greenscoreweb_database

    defaults:
      run:
        working-directory: ./backend

    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Installation de Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: llvm-tools-preview

      - name: Installation des outils
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest,cargo-llvm-cov

      - name: Cache Cargo
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            backend/target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('backend/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Exécution des tests et génération du rapport HTML
        run: |
          cargo llvm-cov nextest --all-features --workspace --html

      - name: Sauvegarde du rapport HTML (Artifact)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: backend/target/llvm-cov/html/
          retention-days: 7
